<nav
  class="navbar sticky-top navbar-expand-lg navbar-light bg-light border-bottom"
>
  <div class="container-fluid">
    <a class="logo order-1" href="#"><i class="fas fa-bus"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button
            class="nav-btn btn btn-outline-dark"
            (click)="showsearchtable()"
          >
            Search
          </button>
        </li>
        <li class="nav-item">
          <button
            class="nav-btn btn btn-outline-dark"
            (click)="showcreatetable()"
          >
            create
          </button>
        </li>
        <li class="nav-item">
          <button
            class="nav-btn btn btn-outline-dark"
            (click)="showupdatetable()"
          >
            update
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://picsum.photos/1300/200/?random1"
        class="d-block w-100"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Search Bus</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://picsum.photos/1300/200/?random2"
        class="d-block w-100"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Create Bus</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://picsum.photos/1300/200/?random3"
        class="d-block w-100"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Update Bus</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 mb-4" *ngIf="showsearch">
      <app-search-route
        searchType="By Route"
        (deleteEvent)="deleteEventReceiver($event)"
      ></app-search-route>
    </div>
    <div class="col-12 col-lg-6 mb-4" *ngIf="showsearch">
      <app-search-route
        searchType="By Fare"
        (deleteEvent)="deleteEventReceiver($event)"
      ></app-search-route>
    </div>
    <div class="col-12 col-lg-6 mb-4" *ngIf="showsearch">
      <app-search-route
        searchType="By Start Point"
        (deleteEvent)="deleteEventReceiver($event)"
      ></app-search-route>
    </div>
    <div class="col-12 col-lg-6 mb-4" *ngIf="showsearch">
      <app-search-route
        searchType="By End Point"
        (deleteEvent)="deleteEventReceiver($event)"
      ></app-search-route>
    </div>
    <div class="col-12 col-lg-6 mb-4" *ngIf="showsearch">
      <app-search-stop
        searchType="By Name"
        (deleteEvent)="deletestopEventReceiver($event)"
      ></app-search-stop>
    </div>
  </div>
</div>

<div class="container" *ngIf="showcreate">
  <div class="row">
    <div class="col"><app-create-bus></app-create-bus></div>
  </div>
</div>

<div class="container" *ngIf="showupdate">
  <div class="row">
    <div class="col"><app-update-bus></app-update-bus></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 mb-4">
      <app-delete-bus
        deleteType="By Id"
        *ngIf="deleteEventTriggered"
        [busRecord]="this.busRecord"
        (cancelDeleteEvent)="cancelDeleteEventReceiver()"
      ></app-delete-bus>
    </div>
    <div class="col-12 col-lg-6 mb-4">
      <app-delete-bus
        deleteType="By Id"
        *ngIf="deleteEventTriggered2"
        [busstopRecord]="this.busstopRecord"
        (cancelDeleteEvent)="cancelDeleteEventReceiver2()"
      ></app-delete-bus>
    </div>
  </div>
</div>

<div class="container-fluid conpyright text-center">
  Copyright &copy; 2021 roy
</div>
